<h1>Activation compte</h1>
<p>Vous avez créé un compte sur le site snowtricks.franimpa.fr, veuillez cliquer sur ce lien pour l'activer.</p>
<p><a href="{{ absolute_url(path('account_activation', {'token': token})) }}">Activer mon compte</a></p>