{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié !{% endblock %}

{% block body %}
 
<div class="container">
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            {% for label, messages in app.flashes %}            
                <div class="alert alert-{{label}} mt-3">
                    {% for message in messages %}
                        <p>{{ message | raw }}</p>
                    {% endfor %}                
                </div>            
            {% endfor %}
            <div class="bg-light py-3 px-3 mt-5 mb-5">
                <h1 class="text-center">Mot de passe oublié !</h1>
                <hr>                
                {{form(form)}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
