{% extends 'base.html.twig' %}

{% block title %}Rénitialiser mot passe !{% endblock %}

{% block body %}
 
<div class="container">
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            {% for label, messages in app.flashes %}            
                <div class="alert alert-{{label}} mt-3">
                    {% for message in messages %}
                        <p>{{ message | raw }}</p>
                    {% endfor %}                
                </div>            
            {% endfor %}
            <div class="bg-light py-3 px-3 mt-5 mb-5">
                <h1 class="text-center">Réinitialisez votre mot de passe</h1>
                <hr>                
                <form class="well" method="post">
                   <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Saisir votre nouveau mot de passe ..." required>
                        <input type="hidden" name="token" class="form-control" value="{{token}}">
                    </div>
                    <div class="row p-3 justify-content-between">
                        <button type="submit" class="btn btn-primary">Valider !</button>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
