.navbar-item-custom,
.navbar-item-custom a {
  color: white;
}

.custom-file-input {
  background-color: aliceblue;
  color: brown;
  text-align: center;
}

.img-carousel {
  max-width: 240px;
  max-height: 200px;
}

.avatar {
  border-radius: 50%;
}

.avatar-medium {
  max-width: 36px;
  max-height: 36px;
}

.avatar-micro {
  max-width: 24px;
  max-height: 24px;
}

.hide {
  display: none !important;
}

