{% extends 'base.html.twig' %}

{% block title %}Snowtricks - catégories d'images{% endblock %}

{% block body %}
<div class="container">
    
    <div class="row py-3 pl-3">
        <div class="col-md-8 bg-primary text-white rounded">   
            <h1>Les différentes catégories pour nos figures !</h1>
        </div>
    </div>
    <div style="height:3px;"></div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom de la catégorie</th>
                <th>Nombre de figures</td>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in categories %}
            <tr>
                <td>{{cat.id}}</td>
                <td>{{cat.name}}</td>
                <td><span class="badge badge-primary rounded">{{cat.figures | length}}</span></td>
                <td>
                    <a href="{#{ path('cat_edit', {'id': cat.id}) }#}" class="btn btn-warning rounded"><i class="fa fa-edit"></i></a>
                    <a href="#" class="btn btn-danger rounded"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
